# python 3.12

# backend
python-dotenv
requests
pandas
psycopg2-binary
flask
flask-sqlalchemy
sqlalchemy

# frontend
streamlit
matplotlib 
seaborn 
scikit-learn
simplejson
pytest
flask_sqlalchemy
openai
llama-index
llama-index-llms-openai
nltk
pypdf


